<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <h1>Report</h1>
    <table id="data-table">
        <thead>
            <tr>
                {% for header in data[0].keys() %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Assuming the first column is the x-axis data and the second column is the y-axis data
        var data = {{ data | tojson }};

        var margin = {top: 20, right: 30, bottom: 40, left: 30},
            width = 600 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        var x = d3.scaleBand().range([0, width]).padding(0.1),
            y = d3.scaleLinear().range([height, 0]);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        x.domain(data.map(function(d) { return d[data[0].keys()[0]]; }));
        y.domain([0, d3.max(data, function(d) { return d[data[0].keys()[1]]; })]);

        svg.selectAll(".bar")
            .data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d[data[0].keys()[0]]); })
            .attr("width", x.bandwidth())
            .attr("y", function(d) { return y(d[data[0].keys()[1]]); })
            .attr("height", function(d) { return height - y(d[data[0].keys()[1]]); });

        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        svg.append("g")
            .call(d3.axisLeft(y));
    </script>
</body>
</html>